@model CurrentWeather
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<br />
<h1 class="my-Heading text-center">Welcome to our Weather Application</h1>
<h5 class="text-center">Search for any city in Gauteng here to get the weather details.</h5>
<br />

<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex justify-content-center">
        <input type="text" class="form-control" placeholder="Search..." id="city-input">
        <button id="search-btn" class="btn btn-info">Search</button>
    </div>
</header>


<br />
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Weather Details</th>
            </tr>
        </thead>
    </table>



    <div id="weather-data" class="background-img my-3 p-3 bg-body rounded shadow-sm "></div>
</div>
<br />

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search-btn').click(function () {
                var city = $('#city-input').val();
                if (city !== '') {
                    var apiKey = '0952be62696ff1791b7ac0e10c445b94'; // Replace with your OpenWeatherMap API key
                    var apiUrl = 'https://api.openweathermap.org/data/2.5/weather?q=' + city + '&appid=' + apiKey;

                    $.ajax({
                        url: apiUrl,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {

                            // Process the weather data

                            var cityName = data.name;
                            var weatherDescription = data.weather[0].description;
                            var temperature = data.main.temp;
                            var temperature_Max = data.main.temp_max;
                            var temperature_Min = data.main.temp_min;
                            var humidity = data.main.humidity;

                            // Display the weather data
                            var weatherHTML = '<table class="table">';
                            weatherHTML += '<tr><th class="text-center font-weight-bold " colspan="2">' + cityName + '</th></tr>';
                            weatherHTML += '<tr><td class="font-weight-bold">Weather Description:</td><td>' + weatherDescription + '</td></tr>';
                            weatherHTML += '<tr><td class="font-weight-bold">Temperature:</td><td>' + temperature + ' C</td></tr>';
                            weatherHTML += '<tr><td class="font-weight-bold">Temperature Max:</td><td>' + temperature_Max + ' C</td></tr>';
                            weatherHTML += '<tr><td class="font-weight-bold">Temperature Min:</td><td>' + temperature_Min + ' C</td></tr>';
                            weatherHTML += '<tr><td class="font-weight-bold">Humidity:</td><td>' + humidity + ' %</td></tr>';
                            weatherHTML += '</table>';

                            $('#weather-data').html(weatherHTML);
                        },
                        error: function (error) {
                            $('#weather-data').html('<p>Error retrieving weather data.</p>');
                        }
                    });
                }
            });
        });
    </script>
}









